body {
    font-family: Arial, sans-serif;
    background-color: rgb(44, 135, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background: rgb(6, 134, 233);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    height: 300px;
    border: solid 8px black;
   
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#weatherInfo {
    margin-top: 20px;
}
